@mixin tg-h1-text {
  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
}

@mixin tg-h1 {
  @include tg-h1-text();
  margin-top: 24px;
  margin-bottom: 24px;
}

@mixin tg-h2-text {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
}

@mixin tg-h2 {
  @include tg-h2-text();
  margin-top: 24px;
  margin-bottom: 24px;
}

@mixin tg-h3-text {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

@mixin tg-h3 {
  @include tg-h3-text();
  margin-top: 24px;
  margin-bottom: 24px;
}

@mixin tg-h4-text {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

@mixin tg-h4 {
  @include tg-h4-text();
  margin-top: 24px;
  margin-bottom: 24px;
}

@mixin tg-h5-text {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
}

@mixin tg-h5 {
  @include tg-h5-text();
  margin-top: 24px;
  margin-bottom: 24px;
}

@mixin tg-h6-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

@mixin tg-h6 {
  @include tg-h6-text();
  margin-top: 24px;
  margin-bottom: 24px;
}

@mixin tg-paragraph {
  margin-top: 16px;
  margin-bottom: 16px;
}

@mixin tg-label-text {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@mixin tg-label {
  @include tg-label-text();
  margin-top: 16px;
  margin-bottom: 16px;
}

@mixin tg-base {
  font-size: 16px;
  line-height: 24px;
  font-family: sans-serif;
}

@mixin tg-reset {
  @include tg-base();
  font-weight: normal;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
}
