@use "../modules/themes/mixins" as *;
@use "../modules/typography/mixins" as *;

html {
  @include select-theme(1);
  @include apply-theme-richtext();
  @include tg-base();
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.u-theme-invert {
  @include select-theme(null, true);
  background: var(--color-base-background);
  color: var(--color-base-text);
}

ul {
  padding-left: 0;
  list-style: none;
}
